blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.3
requests
pandas
openpyxl
requests==2.26.0
pytest==6.2.4
azure-storage-blob==12.8.1
requests==2.26.0
tiktoken